<footer id="footer" class="section footer-dark bg-dark-1">
    <div class="container px-lg-5" style="font-size: large;">
      <div class="row">
        <div class="col-lg-8 text-center text-lg-start" >
          <p class="mb-3 mb-lg-0" style="margin-left: 18%;">Copyright © 2022 
            <a href="#" class="fw-500">
                Toutsop Jordan
            </a>. All Rights Reserved.
          </p>
        </div>
        <div class="col-lg-4"> 
            <p>
                <span style="margin-left: 15%;">Terms &amp; Policy </span>
                <span style="margin-left: 05%; margin-right: 05%;">| </span>
                <span>Disclaimer </span>
            </p>
            
        </div>
      </div>
    </div>
  </footer>