<div class="about px-5 py-5">
    <div class="d-flex w-100 sec-head py-2">
        <h1 class="mx-auto header">
           Me Connaître Mieux <br/>

        </h1>
    </div>
    <div class="row pt-4 px-0">
        <div class="col-sm-7 about-data rounded text-center py-3 mt-3 mx-0 nimated" data-aos="fade-right"
            data-aos-duration="600">
            <h1 class="sub-header py-1" style="padding-left: 01%;">
                <b>Je suis<span style="color: #20c997;">Toutsop Jordan, </span>
                    Developpeur Web
                </b>
            </h1>
            <div class="px-3 text-left">
                <h3 style="color: rgb(128, 123, 123);">
                   Je vous aide à créer les sites web de votre entreprise à un prix abordable. Des centaines de
                   clients ont obtenu des résultats exceptionnels tout en travaillant avec mon équipe dédiée.
                   J'ai aussi conçu des appliactions que vous pouvez  regarder dans mon portfolio ou dans mon
                   CV j'en ai mis quelque liens.<br/>
                   <br/>
                    Livrer un travail dans les délais et le budget qui répondent aux exigences du client est ma devise.
                    J'ai aussi travailler dans des environements de pression et le résultat était toujours de qualité
                    Mon dévouement a toujours été loué par employeurs et compaires
                </h3>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row rounded py-0 mt-3 pl-3 right-container" data-aos="fade-left">
                <div class="col w-100 h-100 rounded about-data text-center py-3 ">
                    <div class="px-3 text-left">
                        <b>Nom: </b>   Toutsop Jordan <br />
                            <hr />
                        <b> Email: </b>  <span style="color:#20c997 ;">toutsopjordan1999@gmail.com</span> <br />
                            <hr />
                        <b>Age: </b> 25 <br />
                            <hr />
                        <b>De: </b>   Douala, Cameroon <br />
                            <hr />
                         <b>Specialité: </b> Software Engeneering <br />
                            <hr />
                         <b>Titre: </b>   Master of Engeneering<br />
                            <hr />
                         <b>Numéro: </b>  (+237) 699028439/ 681409045<br />
                            <hr />
                        <a type="button" href="../../assets/cv.pdf"
                                download="cv.pdf"
                                class="btn btn-outline-success rounded-pill"
                                style="border-color: #20c997;
                                color: rgb(240, 245, 241); align-items: center;
                                background-color: #20c997;
                                width: 170px; height: 40px;">
                            <b style="margin-top: 90%;">Télèchargez CV </b>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-12 about-data rounded text-center py-3 mt-3 mx-0 nimated" data-aos="fade-right"
            data-aos-duration="600">
        <div class="row text-center">
                <div class="col-md-3" style="border-right: 1px dotted rgb(128, 123, 123);">
                    <span style="margin-right: 25px; font-weight: bold;">
                        <h1 style="font-size: 40px; color: rgb(128, 123, 123);">03+ </h1>
                    </span>
                    Année d'Expérience
                </div>
                <div class="col-md-3" style="border-right: 1px dotted rgb(128, 123, 123);">
                    <span style="margin-right: 25px; font-weight: bold; width: 60%;">
                        <h1 style="font-size: 40px; color: rgb(128, 123, 123);">15+ </h1>
                    </span>
                    Clients Contents
                </div>
                <div class="col-md-3" style="border-right: 1px dotted rgb(128, 123, 123);">
                    <span style="margin-right: 25px; font-weight: bold; width: 60%;">
                        <h1 style="font-size: 40px; color: rgb(128, 123, 123);"> 15+ </h1>
                    </span>
                        Projets Réalisés
                </div>
                <div class="col-md-3">
                    <span style="margin-right: 25px; font-weight: bold; width: 60%;">
                        <h1 style="font-size: 40px; color: rgb(128, 123, 123);"> 02 </h1>
                    </span>
                        Réconpenses
                </div>
            </div>
    </div>
</div>
