<div class="about px-5 py-5">
    <div class="d-flex w-100 sec-head py-2">
        <h1 class="mx-auto header">
            Know Me More <br/>
            
        </h1>
    </div>
    <div class="row pt-4 px-0">
        <div class="col-sm-7 about-data rounded text-center py-3 mt-3 mx-0 nimated" data-aos="fade-right"
            data-aos-duration="600">
            <h1 class="sub-header py-1" style="padding-left: 01%;">
                <b>I'm <span style="color: aqua;">Toutsop Jordan, </span> 
                    Web Developer
                </b>
            </h1>
            <div class="px-3 text-left">
                <h3 style="color: rgb(128, 123, 123);">
                   I help you build brand for your business at an affordable price. Thousands of 
                   clients have procured exceptional results while working with our dedicated team. 
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br/>
                   <br/>
                    Delivering work within time and budget which meets client’s requirements is our moto. 
                    Lorem Ipsum has been the industry's standard dummy text ever when an 
                    unknown printer took a galley.
                </h3>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row rounded py-0 mt-3 pl-3 right-container" data-aos="fade-left">
                <div class="col w-100 h-100 rounded about-data text-center py-3 ">
                    <div class="px-3 text-left">
                        <b>Name: </b>   Toutsop Jordan <br />
                            <hr />
                        <b> Email: </b>  <span style="color:aqua ;">toutsopjordan1999@gmail.com</span> <br />
                            <hr />
                        <b>Age: </b> 23 <br />
                            <hr />
                        <b>From: </b>   Douala, Cameroon <br />
                            <hr />
                         <b>Speciality: </b> Software Engeneering <br />
                            <hr />
                         <b>Degree: </b>   Master of Engeneering<br />
                            <hr />
                         <b>Phone: </b>  (+237) 699028439/ 681409045<br />
                            <hr />
                        <a type="button" href="../../assets/cv.pdf"
                                download="cv.pdf"
                                class="btn btn-outline-success rounded-pill" 
                                style="border-color: aqua; 
                                color: rgb(240, 245, 241); align-items: center;
                                background-color: aqua;
                                width: 170px; height: 50px;">
                            <b style="margin-top: 90%;">Download CV </b>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-sm-12 about-data rounded text-center py-3 mt-3 mx-0 nimated" data-aos="fade-right"
            data-aos-duration="600">
        <div class="row text-center">
                <div class="col-md-3" style="border-right: 1px dotted rgb(128, 123, 123);">
                    <span style="margin-right: 25px; font-weight: bold;">
                        <h1 style="font-size: 40px; color: rgb(128, 123, 123);">03+ </h1>
                    </span>
                    Years of Experience
                </div>
                <div class="col-md-3" style="border-right: 1px dotted rgb(128, 123, 123);">
                    <span style="margin-right: 25px; font-weight: bold; width: 60%;">
                        <h1 style="font-size: 40px; color: rgb(128, 123, 123);">15+ </h1>
                    </span>
                    Happy Clients
                </div>
                <div class="col-md-3" style="border-right: 1px dotted rgb(128, 123, 123);">
                    <span style="margin-right: 25px; font-weight: bold; width: 60%;">
                        <h1 style="font-size: 40px; color: rgb(128, 123, 123);"> 15+ </h1>
                    </span>
                        Projects Done
                </div>
                <div class="col-md-3">
                    <span style="margin-right: 25px; font-weight: bold; width: 60%;">
                        <h1 style="font-size: 40px; color: rgb(128, 123, 123);"> 02 </h1>
                    </span>
                        Get Awards
                </div>
            </div>
    </div>
</div>
