<div class="experience px-5 py-5">
    <div class="d-flex w-100 sec-head py-2">
        <h1 class="mx-auto header" style="margin-top: 60px;">
            Ce Que Je Fais
        </h1>
    </div>
    <div class="col-sm-12 experience-data rounded text-center py-3 mt-3 mx-0 nimated" data-aos="fade-right"
            data-aos-duration="600">
        <div class="row" style="margin-top: 90px;">
                <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5" style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-palette" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: 100px;"><b>Graphic Design</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                                style="margin-left: 80px; margin-top: -10px; font-size: medium;">
                              En tant que retoucheur photo et graphiste,
                               J'ai eu la chance de travailler sur de nombreux projets
                               avec des photographes, des agences et des fabricants.
                        </p>
                    </div>
                </div>
                        
               <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5"  style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-desktop" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: 95px;"><b>Web Design</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 82px; margin-top: -10px; font-size: medium;">
                        Une société de technologie d'entreprise m'a choisi pour réorganiser
                         leur site Web existant et atteindre les objectifs commerciaux à grande échelle.
                          Je donne satisfaction.
                        </p>
                    </div>
                </div>
               <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5"  style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-pencil-ruler" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: 105px;"><b>UI/UX Design</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 80px; margin-top: -10px; font-size: medium;">
                           Je fais partie de l'équipe de conception de Floraison
                            Je suis l'un des designers travaillant sur ce projet
                            Je suis responsable du côté design des choses dans de nombreux autres projets.

                        </p>
                    </div>
                </div>
               <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5" style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-paint-brush" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: -10px;"><b>App Design & Develop</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 80px; margin-top: -10px; font-size: medium;">
                            Dans mes différents projets j'ai eu à concevoir et coder des applications,
                            J'ai parfois utilisé modelio pour la conception de logiciels et figma pour l'interface utilisateur
                            interface.
                        </p>
                    </div>
                </div>
                <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5" style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-chart-area" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: -50px;"><b>Maintenance des Equipements</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 80px; margin-top: -10px; font-size: medium;">
                        Dans mes différents stages, j'ai eu l'opportunité de réparer les machines
                        qui ne fonctionnait pas bien et brancher le matériel informatique
                        présent dans cette structure.
                        </p>
                    </div>
                </div>
                <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5" style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-bullhorn" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: -40px;"><b>Leadeur de Projects & Testeur</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 80px; margin-top: 10px; font-size: medium;">
                        J'étais un chef de file dans certains projets sur lesquels je devais travailler, c'est-à-dire la coordination
                        le travail, vérifier les fonctionnalités des modules, écrire des tests et
                        déploiement du projet.
                        </p>
                    </div>
                </div>
            </div>
    </div>
</div>