<div class="experience px-5 py-5">
    <div class="d-flex w-100 sec-head py-2">
        <h1 class="mx-auto header" style="margin-top: 60px;">
            What I Do?
        </h1>
    </div>
    <div class="col-sm-12 experience-data rounded text-center py-3 mt-3 mx-0 nimated" data-aos="fade-right"
            data-aos-duration="600">
        <div class="row" style="margin-top: 90px;">
                <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5" style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-palette" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: 100px;"><b>Graphic Design</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                                style="margin-left: 80px; margin-top: -10px; font-size: medium;">
                               As a photo retoucher and graphic designer, 
                               I have had the chance to work on a lot of projects 
                               with photographers, agencies and manufacturers.
                        </p>
                    </div>
                </div>
                        
               <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5"  style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-desktop" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: 95px;"><b>Web Design</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 82px; margin-top: -10px; font-size: medium;">
                        An enterprise technology company has chosen me to revamp
                         their existing website and achieve business objectives at scale.
                          I' am providing satisfaction.
                        </p>
                    </div>
                </div>
               <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5"  style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-pencil-ruler" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: 105px;"><b>UI/UX Design</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 80px; margin-top: -10px; font-size: medium;">
                            I'm part of the design team at Floraison
                            I'm one of the designers working on this project
                            I'm responsible for the design side of things in many others projects.
                        </p>
                    </div>
                </div>
               <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5" style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-paint-brush" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: -10px;"><b>App Design & Develop</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 80px; margin-top: -10px; font-size: medium;">
                            In my different projects I had to design and code applications, 
                            I sometimes used modelio for software design and figma for UI
                            interface.
                        </p>
                    </div>
                </div>
                <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5" style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-chart-area" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: 30px;"><b>Software Maintenance</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 80px; margin-top: -10px; font-size: medium;">
                        In my various internships, I had the opportunity to repair the machines 
                        that did not work well and connect the computer equipment 
                        present in that structure.
                        </p>
                    </div>
                </div>
                <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5" style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-bullhorn" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: -10px;"><b>Project Lead & Testing</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 80px; margin-top: -10px; font-size: medium;">
                        I was a leader in some projects that I had to work on, i.e. coordinating 
                        the work, checking the functionalities of the modules, writing tests and 
                        deploying the project.
                        </p>
                    </div>
                </div>
            </div>
    </div>
</div>