.contact{
    background-color: #343a40;
    height: 100%;
}
.mx-auto:after {
  position: absolute;
  content: "";
  background-color: aqua;
  height: 4px;
  width: 35%;
  border-radius: 5px;
  left: 32.5%;
  right: 0;
  top: 100%;
  bottom: 0;
  margin-top: 20px;
}
.header{
    position: relative;
    font-size: 2.5em;
    color: #eee;
    font-weight: 500;
    text-shadow: 2px 2px 2px #222;
}
.sec-head::before{
    position: absolute;
    content: "CONTACT";
    font-size: 7em;
    font-weight: bold;
    color: #6c757d!important;
    left: 20%;
    right: 0;
    width: 90px;
    margin-top: 60px;
    /* text-muted  */
    opacity:0.2; 
  }

  .header{
    position: relative;
    font-size: 2.5em;
    color: #eee;
    font-weight: 500;
    text-shadow: 2px 2px 2px #222;
  }

  .text-md-start {
  text-align: left !important;
}
 

.section {
  position: relative;
  padding: 4.5rem 0;
  overflow: hidden;
}

i{
    color: #ddd;
    transition: 0.3s ease-in-out;
}
li{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
li:hover i{
    color: #0D202E;
}
.form-dark .form-control, .form-dark .custom-select {
  border-color: #232a31;
  background: #232a31;
  color: #fff;
}

.btn-primary:hover {
  background-color: #157e5e;
  border-color: #157e5e;
  color: #eee;
}

.btn:not(.btn-link):hover {
  box-shadow: 0px 5px 15px #157e5e;;
  transition: all 0.5s ease;
}
.btn:hover {
  
  color: #eee;

}
.btn {
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  border-width: 2px;
}

.d-inline-flex {
  display: inline-flex !important;
}