<h1 class=" my-0 py-0">
    <div class="row">
        <div class="col-md-2 mr-0 pr-0">
            <h2 class="p-0 mr-0 mb-0" >I'm  </h2>
        </div>
        
    <div class="col pl-0 ml-0 position-relative main-header-wrapper my-0 py-0" style="width: 120%;">
        <ul class=" list-unstyled my-0 py-0" >
            <li class="p-0"><h2 class="p-0">Toutsop_Jordan</h2></li>
            <li class="p-0"><h2 class="p-0">a Freelancer</h2></li>
            <li class="p-0"><h2 class="p-0">a Developer</h2></li>
        </ul>
    </div>
</div>
</h1>
