<div class=" portfolio w-100 py-5">
  <div class="d-flex w-100 sec-head py-2">
    <h1 class="mx-auto header" style="margin-top: 60px;">
            My Work
    </h1>
  </div>
  <ul class="portfolio-menu nav nav-tabs nav-light justify-content-center border-bottom-0 mb-5" style="margin-top: 03%;">
    <li class="nav-item"> <a data-filter="*" class="nav-link active" href="">All</a></li>
    <li class="nav-item"> <a data-filter=".design" href="" class="nav-link">Design</a></li>
    <li class="nav-item"> <a data-filter=".brand" href="" class="nav-link">Brand</a></li>
    <li class="nav-item"> <a data-filter=".photos" href="" class="nav-link">Photos</a></li>
  </ul>
  <div class="portfolio popup-ajax-gallery">
          <div class="row portfolio-filter g-4" 
                style="position: relative; height: 860.566px;">
            <div class="col-sm-6 col-lg-4 brand" 
                style="position: absolute; left: 0px; top: 0px;">
              <div class="portfolio-box rounded">
                <div class="portfolio-img rounded"> 
                  <img class="img-fluid d-block" 
                      src="../../assets/1a.jpg" alt="" style="margin-left: 20px;">
                  <div class="portfolio-overlay" style="background: rgba(0, 0, 0, 0.7)"> 
                    <a class="popup-ajax stretched-link" href="ajax/portfolio-ajax-project-dark-1.html">

                    </a>
                      <div class="portfolio-overlay-details">
                        <h5 class="text-white fw-400">Project Title</h5>
                        <span class="text-light">Category</span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 design" style="position: absolute; left: 328.333px; top: 0px;">
              <div class="portfolio-box rounded">
                <div class="portfolio-img rounded"> 
                  <img class="img-fluid d-block" src="../../assets/2a.jpg" alt="">
                  <div class="portfolio-overlay"> <a class="popup-ajax stretched-link" href="ajax/portfolio-ajax-project-dark-2.html"></a>
                    <div class="portfolio-overlay-details">
                      <h5 class="text-white fw-400">Project Title</h5>
                      <span class="text-light">Category</span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 artwork photos" style="position: absolute; left: 656.666px; top: 0px;">
              <div class="portfolio-box rounded">
                <div class="portfolio-img rounded"> 
                  <img class="img-fluid d-block" src="../../assets/3a.jpg" alt="" style="margin-left: -10%;">
                  <div class="portfolio-overlay"> <a class="popup-ajax stretched-link" href="ajax/portfolio-ajax-project-dark-3.html"></a>
                    <div class="portfolio-overlay-details">
                      <h5 class="text-white fw-400">Project Title</h5>
                      <span class="text-light">Category</span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 artwork brand photos" style="position: absolute; left: 0px; top: 226.75px;">
              <div class="portfolio-box rounded">
                <div class="portfolio-img rounded"> 
                  <img class="img-fluid d-block" src="../../assets/4a.jpg" alt="" style="margin-left: 20px;">
                  <div class="portfolio-overlay"> <a class="popup-ajax stretched-link" href="ajax/portfolio-ajax-project-dark-4.html"></a>
                    <div class="portfolio-overlay-details">
                      <h5 class="text-white fw-400">Project Title</h5>
                      <span class="text-light">Category</span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 design" style="position: absolute; left: 656.666px; top: 226.75px;">
              <div class="portfolio-box rounded">
                <div class="portfolio-img rounded"> 
                  <img class="img-fluid d-block" src="../../assets/5a.jpg" alt="" style="margin-left: -30px;">
                  <div class="portfolio-overlay"> <a class="popup-ajax stretched-link" href="ajax/portfolio-ajax-project-dark-5.html"></a>
                    <div class="portfolio-overlay-details">
                      <h5 class="text-white fw-400">Project Title</h5>
                      <span class="text-light">Category</span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 brand" style="position: absolute; left: 656.666px; top: 453.5px;">
              <div class="portfolio-box rounded">
                <div class="portfolio-img rounded"> 
                  <img class="img-fluid d-block" src="../../assets/6a.jpg" alt="" style="margin-left: -30px;">
                  <div class="portfolio-overlay"> <a class="popup-ajax stretched-link" href="ajax/portfolio-ajax-project-dark-6.html"></a>
                    <div class="portfolio-overlay-details">
                      <h5 class="text-white fw-400">Project Title</h5>
                      <span class="text-light">Category</span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 design photos" style="position: absolute; left: 328.333px; top: 532.233px;">
              <div class="portfolio-box rounded">
                <div class="portfolio-img rounded"> 
                  <img class="img-fluid d-block" src="../../assets/7a.jpg" alt="" >
                  <div class="portfolio-overlay"> <a class="popup-ajax stretched-link" href="ajax/portfolio-ajax-project-dark-7.html"></a>
                    <div class="portfolio-overlay-details">
                      <h5 class="text-white fw-400">Project Title</h5>
                      <span class="text-light">Category</span> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>