<div class=" testimonial w-100 py-5">
  <div class="d-flex w-100 sec-head py-2">
    <h1 class="mx-auto header" style="margin-top: 60px;">
            Client Speak
    </h1>
  </div>


        <div class="row">
            <ngb-carousel style="align-content: center;">
                <ng-template ngbSlide>
                        <div class="col-sm-6" style="float: left;">
                            <div class="owl-item cloned" style="width: 430px; margin-top: 08%; margin-left: 20px;">
                                <div class="item">
                                    <div class="bg-dark rounded p-5 mb-5" style="font-size: medium;">
                                        <div class="d-flex align-items-center 
                                                mt-auto mb-4"> 
                                            <img class="img-fluid rounded-circle d-inline-block w-auto" 
                                                src="../../assets/a.png"  alt="">
                                            <p class="ms-3 mb-0" style="margin-left: 15px;">
                                                <strong class="d-block text-white fw-600">
                                                    Mbaten Rose Agha
                                                </strong> 
                                                <span class="text-white-50 fw-500">
                                                    User from Cameroon
                                                </span>
                                            </p>
                                        </div>
                                        <p class="text-light mb-4">
                                            “Only trying it out since a few days. 
                                            But up to now excellent. Seems to 
                                            work flawlessly. priced simply dummy 
                                            text of the printing and typesetting 
                                            industry.”
                                        </p>
                                        <span class="text-2"> 
                                            <i class="fas fa-star text-warning" 
                                                style="margin-right: 5px;"></i>
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                        </span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="float: right;">
                            <div class="owl-item cloned" style="width: 430px; margin-top: 08%; margin-left: 10px;">
                                <div class="item">
                                    <div class="bg-dark rounded p-5 mb-5" style="font-size: medium;">
                                        <div class="d-flex align-items-center 
                                                mt-auto mb-4"> 
                                            <img class="img-fluid rounded-circle d-inline-block w-auto" 
                                                src="../../assets/b.png"  alt="">
                                            <p class="ms-3 mb-0" style="margin-left: 15px;">
                                                <strong class="d-block text-white fw-600">
                                                    Ngogang Darel
                                                </strong> 
                                                <span class="text-white-50 fw-500">
                                                    Project-lead
                                                </span>
                                            </p>
                                        </div>
                                        <p class="text-light mb-4">
                                            "we have already worked on two or three projects, 
                                            he is a responsible, hardworking and respectful guy, 
                                            he is always looking for knowledge and always available 
                                            for others.”
                                        </p>
                                        <span class="text-2"> 
                                            <i class="fas fa-star text-warning" 
                                                style="margin-right: 5px;"></i>
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                        </span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide >
                        <div class="col-sm-6" style="float: left;">
                            <div class="owl-item cloned" style="width: 430px; margin-top: 08%; margin-left: 20px;">
                                <div class="item">
                                    <div class="bg-dark rounded p-5 mb-5" style="font-size: medium;">
                                        <div class="d-flex align-items-center 
                                                mt-auto mb-4"> 
                                            <img class="img-fluid rounded-circle d-inline-block w-auto" 
                                                src="../../assets/c.png"  alt="">
                                            <p class="ms-3 mb-0" style="margin-left: 15px;">
                                                <strong class="d-block text-white fw-600">
                                                    Donfack Gauis Nicarnorre
                                                </strong> 
                                                <span class="text-white-50 fw-500">
                                                    Team mate
                                                </span>
                                            </p>
                                        </div>
                                        <p class="text-light mb-4">
                                            “I really enjoyed working with him, he never gives up and 
                                            always tries to achieve these goals on time, he is very close 
                                            to everyone and always there to help with extra tasks.”
                                        </p>
                                        <span class="text-2"> 
                                            <i class="fas fa-star text-warning" 
                                                style="margin-right: 5px;"></i>
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                        </span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="float: right;">
                            <div class="owl-item active" style="width: 430px; margin-top: 08%; margin-left: 15px;">
                                <div class="item">
                                    <div class="bg-dark rounded p-5 mb-5" style="font-size: medium;">
                                        <div class="d-flex align-items-center 
                                                mt-auto mb-4"> 
                                            <img class="img-fluid rounded-circle d-inline-block w-auto" 
                                                src="../../assets/d.png"  alt="">
                                            <p class="ms-3 mb-0" style="margin-left: 15px;">
                                                <strong class="d-block text-white fw-600">
                                                    Zeufack Rowlind
                                                </strong> 
                                                <span class="text-white-50 fw-500">
                                                    Client from Cameroon
                                                </span>
                                            </p>
                                        </div>
                                        <p class="text-light mb-4">
                                            “I really liked its designs in my projects, 
                                            it was exactly what I asked for, he delivered 
                                            all works in time and with good qualities and 
                                            user experience.”
                                        </p>
                                        <span class="text-2"> 
                                            <i class="fas fa-star text-warning" 
                                                style="margin-right: 5px;"></i>
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                            <i class="fas fa-star text-warning"
                                                style="margin-right: 5px;"></i> 
                                        </span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                </ng-template> 
            </ngb-carousel>
        </div>

</div>