<div class="cover">
    <div class="d-flex w-100 h-100 px-5 py-4">
        <div class="mx-auto my-auto inner-section ">
            <h1 class="px-0" data-aos="fade-down" data-aos-duration="1000">
                <span class="d-block py-3">Welcome</span>
            </h1>
            <div class="py-4">
                <app-text-animation></app-text-animation>
            </div>
            <div style="font-size: large;">
                <h2>Based in Douala, Cameroon</h2>

                <a class="btn btn-outline-success rounded-pill" 
                    style="border-color: #28a745; align-items: center;
                  width: 170px; height: 50px;" href="#contact">Hire Me</a>
            </div>
        </div>

    </div>
</div>
